body, #root, .App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}

.react-codemirror2 {
  min-height: 500px;
}

.CodeMirror {
  min-height: 500px;
}
